.stopwatch{
  width: 500px;
  height: 25%;
  border: 3px solid;
  border-radius: 25px;
  background-color: #222;
  margin-left: px;
  margin-right: px;
  padding: 20px 40px;
  
 


}
#displayTime{
  font-size: 75px;
  color: #40c437;
  font-family:  consolas, monospace;
  margin-bottom: 10px;
  margin-left: 75px;
 

}
.buttons{
  width: 80px;
  height: 30px;
  border: 3px solid;
  border-radius: 12px;
  background-color: #333;
  align-items: center;
  color: #ffff;
  cursor: pointer;
  font-family: consolas, monospace;
}
.overall-button{
 padding-left: 25%;

}
